<div
  class="contactContainer wrapper"
  [ngStyle]="{ border: '1px solid #dee1e5' }"
>
  <div>
    <img
      class="w-10 h-10 rounded-full"
      src="https://i.pravatar.cc/300"
      alt="Rounded avatar"
    />
  </div>
  <div>
    <div>Name</div>
    <div class="inputColor">Yasser Quintana</div>
  </div>
  <div>
    <div>Address</div>
    <div class="inputColor">La palma</div>
  </div>
  <div>
    <div>Phone Number</div>
    <div class="inputColor">0979019824</div>
  </div>
  <div>
    <div>Email</div>
    <div class="inputColor">yasser@gail.com</div>
  </div>
  <div class="actionsContact">Edit</div>
  <div class="actionsContact">Remove</div>
</div>
