<form (ngSubmit)="save()" class="formContainer" #formContact="ngForm">
  <div
    class="contactContainer wrapper"
    [ngStyle]="{ border: '1px solid #dee1e5' }"
  >
    <div>
      <img
        class="w-10 h-10 rounded-full"
        src="https://i.pravatar.cc/300"
        alt="Rounded avatar"
      />
    </div>
    <div>
      <label for="name">Name</label>
      <div *ngIf="!isEditing" class="inputColor">{{ contact.name }}</div>
      <div *ngIf="isEditing">
        <input
          [ngStyle]="{ border: '1px solid #dee1e5' }"
          class="inputColor form-control"
          type="text"
          id="name"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <div
            *ngIf="name.errors?.['required']"
            class="p-1 bg-red-300 text-red-800 Rounded"
          >
            Name is required
          </div>
        </div>
      </div>
    </div>
    <div>
      <label for="address">Address</label>
      <div *ngIf="!isEditing" class="inputColor">{{ contact.address }}</div>
      <div *ngIf="isEditing">
        <input
          [ngStyle]="{ border: '1px solid #dee1e5' }"
          class="inputColor"
          type="text"
          id="address"
          [(ngModel)]="form.address"
          name="address"
          #address="ngModel"
          required
        />
        <div *ngIf="address.invalid && (address.dirty || address.touched)">
          <div
            *ngIf="address.errors?.['required']"
            class="p-1 bg-red-300 text-red-800 Rounded"
          >
            Address is required
          </div>
        </div>
      </div>
    </div>
    <div>
      <label for="phone-number">Phone Number</label>
      <div *ngIf="!isEditing" class="inputColor">{{ contact.phoneNumber }}</div>
      <div *ngIf="isEditing">
        <input
          [ngStyle]="{ border: '1px solid #dee1e5' }"
          class="inputColor"
          type="text"
          id="phone-number"
          [(ngModel)]="form.phoneNumber"
          name="phoneNumber"
          #phoneNumber="ngModel"
          required
        />
        <div
          *ngIf="
            phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
          "
        >
          <div
            *ngIf="phoneNumber.errors?.['required']"
            class="p-1 bg-red-300 text-red-800 Rounded"
          >
            Phone Number is required
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <div *ngIf="!isEditing" class="inputColor">{{ contact.email }}</div>
      <div *ngIf="isEditing">
        <input
          [ngStyle]="{ border: '1px solid #dee1e5' }"
          class="inputColor"
          type="email"
          id="email"
          [(ngModel)]="form.email"
          name="email"
          required
          #email="ngModel"
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div
            *ngIf="email.errors?.['required']"
            class="p-1 bg-red-300 text-red-800 Rounded"
          >
            Email is required
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isEditing" class="actionsContact" (click)="edit()">Edit</div>
    <button
      *ngIf="isEditing"
      class="actionsContact buttonContainer"
      type="submit"
      [disabled]="formContact.form.invalid"
    >
      Save
    </button>
    <div class="actionsContact" (click)="remove()">Remove</div>
  </div>
</form>
