.navigate {
  background-color: black;
  padding: 25px;
}

.searchBox {
  background-color: white;
  padding: 15px;
}

.buttonBox {
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
