.navigate {
  background-color: black;
  padding: 25px;
  padding-left: 85px;
  padding-right: 85px;
}

.container {
  display: flex;
}
.wrapper {
  display: grid;
  grid-template-columns: 5% 85% 10%;
  grid-gap: 10px;
}

.searchBox {
  background-color: white;
  padding: 10px;
}

.buttonBox {
  background-color: #7a7a7a;
  color: white;
  padding: 5px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.iconContainer {
  padding-top: 5px;
  cursor: pointer;
}

.inputSearchContainer {
  width: 100%;
  padding: 5px;
}
